@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
[1200-800] is where our normal styles apply
1800px+ : big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

//Rems/ems in media queries are not affect by the root font size that we have set and are instead defined by the defaunt broswer font size. Rems respond weird so we will use ems instead

1em = 16px; (defaunt browser font size)

*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			//600px
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			//900px
			@content;
		}
	}
	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			//1200px
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		//1800px
		@media (min-width: 112.5em) {
			@content;
		}
	}
}
